<div class="toolbar" role="banner">
  <h2>Aproximación de integrales por el método de Monte Carlo</h2>
</div>
<br>
<div class="container">
  <form action="">
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="Integral">Seleccione la función a integrar</label>
          <select name="indice" class="form-control" [(ngModel)]="indice">
            <option value="1">
                <span class="sum">&int;</span>
                <i>(1-x²)⁽³²⁾</i> d<i>x</i>
            </option>
            <option value="2">
              <span class="sum">&int;</span>
              <i>e(x+x²)</i> d<i>x</i>
            </option>
            <option value="3">
              <span class="sum">&int;</span>
              <i>(1-x²)²</i> d<i>x</i>
            </option>
            <option value="4">
              <span class="sum">&int;</span>
              <i>1/(cos(x)+2)</i> d<i>x</i>
            </option>
            <option value="5">
              <span class="sum">&int;</span>
              <i>log(x)</i> d<i>x</i>
            </option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="valorA">Valor de <span>a</span></label>
          <input type="number" class="form-control" name="valorA" [(ngModel)]="funcionIntegral.a">
        </div>
        <div class="form-group col-md-2">
          <label for="valorB">Valor de <span>b</span></label>
          <input type="number" class="form-control" name="valorB" [(ngModel)]="funcionIntegral.b">
        </div>
        <div class="form-group col-md-2">
            <label for="valorN">Valor de <span>N</span></label>
            <input type="number" class="form-control" name="valorN" [(ngModel)]="funcionIntegral.n">
        </div>
    </div>
    <button class="btn btn-dark" (click)="elegirFun()">
      Calcular integral aproximada
    </button>
  </form>
  <br><br>
  <div *ngIf="hecho">
    <h3>Aproximación de la integral: {{funcionIntegral.resultado}}</h3><br>
  </div>
</div>